.game {
  .squares {
    display: inline-block;
    border: 1px solid #CCC;
    .square {
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border: 1px solid #CCC;
      float: left;
      font-weight: bold;
      &:nth-child(30n+1) {
        clear: left;
      }
    }
  }
}