.container {
  width: 100%;
  padding: 30px;

  .userInfo {
    width: 100%;
  }
  .message {
    width: 100%;
    text-align: center;
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
  }
}